/*Custom Styles Variables*/

// Colors

$color-1: #8652A1;
$color-2: #064676;
$color-3: #00AFEF;
$color-4: #C2CD23;
$color-5: #FABB21;
$color-6: #f47836;
$color-7: #512da8;
$color-8: #a880ff;
$color-9: #1C2A81;
$color-10: #0E35A6;
$color-11: #2D7DFA;
$color-12: #132576;
$color-13: #5734D9;
$color-14: #12B2F8;
$color-15: #2B4CB7;
$color-16: #00D35F;
$color-17: #201B3B;
$color-18: #2e3951;

// Sidenav
$sidenav-z-index: 99999;
$sidenav-overlay-z-index: 1040;
$sidenav-overlay-background-color: rgba(0,0,0, 0.3);